<div class="flex items-center h-[8px] w-24 rounded-full border border-gray-200 mr-2">
  <div class="bg-gradient-to-r from-blue-500 to-cyan-400 rounded-l-full h-[7px]" style="width: <%= form_step_progress_percentages[:completed] %>"></div>
  <div class="bg-[#f8f7f5] rounded-r-full h-[7px]" style="width: <%= form_step_progress_percentages[:pending] %>"></div>
</div>


