<dialog role="dialog" id="turbo-modal" class="<dialog id="turbo-modal" class="fixed inset-0 flex items-center justify-center z-50 w-full">
  <div class="w-screen">
    <%= turbo_frame_tag "modal" %>
  </div>
</dialog>
