<footer class="mt-24 px-20 py-12 w-screen relative left-1/2 -translate-x-1/2" style="background-color: oklch(26% 0.0103 229.34)">
  <h2 class="font-extrabold text-5xl tracking-tight text-white">What are you waiting for?</h2>
  <p class="text-gray-500 text-xl mt-4">Travel with people already going your way.</p>

  <div class="flex items-center gap-x-3">
    <button class="bg-white rounded-full px-8 py-3.5 mt-6 font-medium">Post a ride</button>
    <button class="text-gray-300 border border-gray-300 rounded-full px-8 py-3.5 mt-6 font-medium">Find a ride</button>
  </div>

  <div class="mt-24 border-b border-gray-700 flex items-center justify-between pb-1">
    <h2 class="text-lg text-gray-300 font-bold">Relay</h2>

    <div class="flex items-center gap-x-3">
      <%= inline_svg_tag "socials/facebook.svg", class: "w-6 h-6 block stroke-gray-300 stroke-1.5" %>
      <%= inline_svg_tag "socials/tiktok.svg", class: "w-6 h-6 block stroke-gray-300 stroke-1.5" %>
      <%= inline_svg_tag "socials/whatsapp.svg", class: "w-6 h-6 block stroke-gray-300 stroke-1.5" %>
    </div>
  </div>

  <div class="text-gray-400 text-[13px] pt-3">
    <div class="flex items-center gap-x-8">
      <p class="">Terms and Conditions</p>
      <p class="">Suggestions</p>
      <p class="">Complaints</p>
      <p class="">Privacy Policy</p>
    </div>

    <span class="mt-6 block">© Monte de Feira. All rights reserved.</span>
  </div>

  </div>
</footer>
