<div class="flex items-center gap-x-12 mt-16">
  <div class="w-1/2 relative rounded-2xl overflow-hidden lg:aspect-628/342 lg:h-full! h-85.5!">
    <%= image_tag "homepage/hero_hitchhiker.png", class: "w-full object-cover lg:group-hover:scale-110 transition-transform duration-700 ease-in-out" %>
    <div class="absolute inset-0 opacity-50 bg-linear-to-b from-transparent to-[rgba(0,0,0,1)] group-hover:opacity-100 transition-opacity duration-700 ease-in-out"></div>
    <div class="absolute bottom-0 left-0 right-0 flex flex-col px-8 py-6 text-white gap-6">
      <div class="text-white font-bold text-3xl -mt-4">
        <span class="block">Hitchhiking is hard. </span>
        <span class="block -mt-1">Make it easier. </span>
      </div>
      <div class="mt-0 w-1/2 text-sm tracking-wide lg:block max-h-0 max-w-93.75 group-hover:max-h-16.5 group-hover:opacity-100 transition-all duration-700 ease-in-out">
        <p>Make hitchhiking more predictable. Know your ride before you start your journey.</p>
      </div>
      <button class="block bg-white w-fit mt-12 text-slate-800 rounded-full px-6 py-3 font-medium">For Passengers</button>
    </div>
  </div>

  <div class="w-1/2 relative rounded-2xl overflow-hidden lg:aspect-628/342 lg:h-full! h-85.5!">
    <%= image_tag "driver_hero_2.jpg", class: "w-full object-cover lg:group-hover:scale-110 transition-transform duration-700 ease-in-out" %>
    <div class="absolute inset-0 opacity-50 bg-linear-to-b from-transparent to-[rgba(0,0,0,0.05)] group-hover:opacity-100 transition-opacity duration-700 ease-in-out"></div>
    <div class="absolute bottom-0 left-0 right-0 flex flex-col px-8 py-6 text-white gap-6">
      <div class="text-white font-bold text-3xl -mt-4">
        <span class="block">Empty seats are costly. </span>
        <span class="block -mt-1">Share and save. </span>
      </div>
      <div class="mt-0 w-1/2 text-sm tracking-wide lg:block max-h-0 max-w-93.75 group-hover:max-h-16.5 group-hover:opacity-100 transition-all duration-700 ease-in-out">
        <p>Share your ride and reduce your fuel and tollgate costs on the highyway.</p>
      </div>
      <button class="block bg-white w-fit mt-12 text-slate-800 rounded-full px-6 py-3 font-medium">For Drivers</button>
    </div>
  </div>
</div>
