<div class="flex items-center w-full">
  <div class="w-2/3">
    <h1 class="flex flex-col gap-y-1 mt-12 font-extrabold text-[64px] tracking-tight mb-6">
      <span>A better way to</span>
      <span class="-mt-7">hitchhike.</span>
    </h1>
    <div class="mt-8 mb-12 w-3/5 text-black-700 leading-4 tracking-wide">
      <p class="text-xl">Meet real people travelling the same long-distance journey. Relay is simple ridesharing, made with love for hitchhikers.</p>
    </div>
  </div>
  <div class="w-fit -mt-24 -ml-48">
    <%= inline_svg_tag "homepage/hero.svg" %>
  </div>
</div>