:root {
  --primary-color: #111;
  --text-color: #222;
  --placeholder-color: #667;
  --background-color: #fff;
  --hover-color: #f3f4f6;
  --focus-ring: #333;
  --color-amaranth:  #c93684;
  --color-violet-blue: #523be4;
}
.floating-input-container {
  position: relative;
  height: 88px; /* fix container height */
  display: flex;
  align-items: center;
  gap: 8px;
}

.floating-asterisk {
  color: var(--primary-color);
  font-size: 24px;
  align-self: center;
}

.floating-input-wrapper {
  position: relative;
  flex: 1;
  height: 100%;
}

.floating-input {
  width: 100%;
  height: 60px;
  font-size: 20px;
  color: var(--text-color);
  outline: none;
  margin: 0 36px;
  box-sizing: border-box;
  transition: transform 0.2s ease;
}

.floating-input:placeholder-shown, .floating-input {
  transform: translateY(20px);
}


.floating-label {
  position: absolute;
  left: 36px;
  top: 30px;
  font-size: 20px;
  color: var(--placeholder-color);
  pointer-events: none;
  transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transform-origin: left top;
}


.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
  transform: translateY(-12px) scale(0.7);
  color: var(--primary-color);
  font-weight: medium;
}

.floating-input::placeholder {
  color: transparent;
}

.floating-input:focus + .floating-label .floating-icon,
.floating-input:not(:placeholder-shown) + .floating-label .floating-icon {
  display: none;
}