.toggle-switch {
  appearance: none;
  outline:none;
  width:32px;
  height:20px;
  position: relative;
  background: white;
  border: 1px solid #aaa;
  border-radius: 40px;
  cursor:pointer;
  display: block;
}

.toggle-switch:checked{
  background: #00a876;
  border: 1px solid #00a876;
}

.toggle-switch::before{
  content:'';
  position:absolute;
  width: 21px;
  height: 21px;
  top:-1.75px;
  left:-4px;
  border-radius: 50%;
  background: white;
  border: 1px solid #aaa;
  transition: all 0.2s, width 0.05s;
}

.toggle-switch:checked::before{
  left:13px;
  border: 1px solid #00a876;
  width:22px;
  height:22px;
  top: -2.27px;
}
