:root {
  --button-radius: 19931998px;
  --button-neutral-color: #333;
  --primary-accent-color: #006AFF;
  --secondary-accent-color: #E39A1F;
}

.btn {
  grid-column-gap: .375em;
  grid-row-gap: .375em;
  border-radius: var(--button-radius);
  text-align: center;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  text-decoration: none;
  display: inline-flex;
  padding: 10px 24px;
  font-size: 18px;
  }

.btn-primary {
  color: #fff;
  border-color: color-mix(in srgb, var(--primary-accent-color)92%,var(--button-neutral-color));
  background-color: var(--primary-accent-color);
}

.btn-secondary {
  border-color: color-mix(in srgb, var(--secondary-accent-color)92%,var(--button-neutral-color));
  background-color: var(--secondary-accent-color);
}